


# Ignore arquivos relacionados a config de banco
.env

.sass-cache

venv

core/__pycache__

matches/__pycache__

player_stats/__pycache__

players/__pycache__

tcc_futebol/__pycache__

teams/__pycache__