{% extends "base.html" %}

{% block title %}Game Vision{% endblock %}

{% block content %}
  <div class="jumbotron text-center">
    <h1 class="display-4">Bem-vindo ao Game Vision!</h1>
    <p class="lead">Gerencie e analise o desempenho de jogadores e times com facilidade.</p>
    <hr class="my-4">
    <p>Utilize as opções do menu para navegar pelo sistema.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'player_list' %}" role="button">Ver Jogadores</a>
    <a class="btn btn-primary btn-lg" href="{% url 'team_list' %}" role="button">Ver Times</a>
    <a class="btn btn-primary btn-lg" href="{% url 'player_list' %}" role="button">Ver Partidas</a>

  </div>
{% endblock %}
