{% extends "base.html" %}
{% load static %}

{% block title %}Game Vision{% endblock %}

{% block content %}
<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
  }


  .hero-content {
    position: relative;
    z-index: 2;
    max-width: 100%;
    margin-bottom: 150px;
  }

  .btn-custom {
    background: #007bff;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    margin: 10px;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
  }

  .btn-custom:hover {
    background: #0056b3;
    transform: scale(1.1);
  }
</style>

  
  <div class="hero-content">
    <h1 class="display-3 fw-bold">Bem-vindo ao <span class="text-warning">Game Vision!</span></h1>
    <p class="lead">Acompanhe o desempenho dos jogadores e times como nunca antes.</p>
    <hr class="my-4" style="border-color: white;">
    <p class="fs-5">Explore estatísticas detalhadas e tome decisões estratégicas com dados precisos.</p>
    <div class="d-flex flex-wrap justify-content-center">
      <a class="btn btn-custom" href="{% url 'gerencia_home' %}">Gerenciamento</a>

      {% comment %} <a class="btn btn-custom" href="{% url 'team_list' %}">Ver Times</a>
      <a class="btn btn-custom" href="{% url 'player_list' %}">Ver Jogadores</a>
      <a class="btn btn-custom" href="{% url 'matches_list' %}">Ver Partidas</a>
      <a class="btn btn-custom" href="{% url 'player_stats_list' %}">Ver Estatísticas</a> {% endcomment %}
    </div>
  </div>

{% endblock %}
