{% extends 'base.html' %}

{% block title %}Detalhes de {{ matches.time_casa }} {{ matches.placar_casa }} x {{ matches.placar_fora }} {{ matches.time_fora }}{% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg p-4 w-50 border-0 rounded-4">
        <div class="card-body text-center">
            <h2 class="card-title fw-bold">{{ matches.time_casa }} {{ matches.placar_casa }} x {{ matches.placar_fora }} {{ matches.time_fora }}</h2>
            <hr class="my-3">
            <p class="card-text fs-5"><strong>🏆 Competição:</strong> {{ matches.tipo_competicao }}</p>
            <p class="card-text fs-5"><strong📍 Local:</strong> {{ matches.local }}</p>

            <div class="mt-4 d-flex justify-content-center gap-3">
                <a href="{% url 'matches_update' matches.pk %}" class="btn btn-warning px-4">✏️ Editar</a>
                <a href="{% url 'matches_delete' matches.pk %}" class="btn btn-danger px-4">🗑️ Excluir</a>
                <a href="{% url 'matches_list' %}" class="btn btn-secondary px-4">🔙 Voltar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
