{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <h2 class="mb-4 text-center">
            {% if form.instance.pk %}Editar Partida{% else %}Adicionar Partida{% endif %}
        </h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <div class="row row-cols-2">
                    <div class="mb-3">
                        <label for="id_time_casa" class="form-label">Time Casa</label>
                        {{ form.time_casa|add_class:"form-select" }}
                    </div>
                    <div class="mb-3">
                        <label for="id_placar_casa" class="form-label">Placar Casa</label>
                        {{ form.placar_casa|add_class:"form-control" }}
                    </div>
                    <div class="mb-3">
                        <label for="id_time_fora" class="form-label">Time Fora</label>
                        {{ form.time_fora|add_class:"form-select" }}
                    </div>
                    <div class="mb-3">
                        <label for="id_placar_fora" class="form-label">Placar Fora</label>
                        {{ form.placar_fora|add_class:"form-control" }}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="id_tipo_competicao" class="form-label">Tipo Competição</label>
                    {{ form.tipo_competicao|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    <label for="id_data_partida" class="form-label">Data da Partida</label>
                    {{ form.data_partida|add_class:"form-control"|attr:"type:date" }}
                </div>
                <div class="mb-3">
                    <label for="id_local" class="form-label">Local</label>
                    {{ form.local|add_class:"form-control" }}
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary w-100">Salvar</button>
            <div class="mt-3 text-center">
                <a href="{% url 'matches_list' %}" class="btn btn-link">Voltar para a Lista</a>
            </div>
        </form>

    </div>
</div>
{% endblock %}
