{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<style>
    html, body {
        overflow: auto;
    }
    .form-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 150px;
    }
    .card-form {
        width: 100%;
        max-width: 700px;
    }
</style>

<div class="container form-container">
    <div class="card card-form shadow-lg p-4">
        <h2 class="mb-4 text-center">
            {% if form.instance.pk %}Editar Responsavel{% else %}Adicionar Responsavel{% endif %}
        </h2>
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="id_nome" class="form-label">Nome</label>
                {{ form.nome|add_class:"form-control" }}
            </div>
            <div class="mb-3">
                <label for="id_email" class="form-label">Email</label>
                {{ form.email|add_class:"form-control" }}
            </div>

            <div class="mb-3">
                <label for="id_telefone" class="form-label">Telefone</label>
                {{ form.telefone|add_class:"form-control" }}
            </div>

            <div class="mb-3">
                <label for="id_data_nascimento" class="form-label">Data de nascimento</label>
                {{ form.data_nascimento|add_class:"form-control"|attr:"type:date" }}

            </div>
            <div class="mb-3">
                <label for="id_cpf" class="form-label">CPF</label>
                {{ form.cpf|add_class:"form-control" }}
            </div>

            <button type="submit" class="btn btn-primary w-100">Salvar</button>

            <div class="mt-3 text-center">
                <a href="{% url 'gerencia_responsavel' %}" class="btn btn-link">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
